/*Wild card is being used to set any default CSS to 0 */
* {
  list-style:none; 
  text-decoration: none;
}

/* Assigns to grid with the text nav*/
/*Sets font to white and changes font */
nav a {
    grid-area:nav;
    color:white;
    font-family: 'Roboto Slab', serif;
  }

/*Aside is used for the left half of the main content, mainly image based*/
/*Sets the background colour, alignment and font if needed*/
aside {
   grid-area:aside;
   background-color: #D9CC8C;
   font-family: 'Poppins', sans-serif;
   text-align: center;
  }
.aside-2 {
    grid-area:aside-2;
    background-color: #D9CC8C;
    font-family: 'Poppins', sans-serif;
    text-align: center;
   }

.aside-3 {
    grid-area:aside-3;
    background-color: #D9CC8C;
    font-family: 'Poppins', sans-serif;
    text-align: center;
   }

.aside-4 {
    grid-area:aside-4;
    background-color: #D9CC8C;
    font-family: 'Poppins', sans-serif;
    text-align: center;
   }

/*Main is used for the right side of the main content, mainly text based */
/*Sets the background colour, alignment and font*/
main {
    grid-area:main;
    background-color: #D9CC8C;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.main-2 {
  grid-area:main-2;
  background-color: #D9CC8C;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.main-3 {
  grid-area:main-3;
  background-color: #D9CC8C;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.main-4 {
  grid-area:main-4;
  background-color: #D9CC8C;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
.main-5 {
    grid-area:main-5;
    background-color: #D9CC8C;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.main-6 {
  grid-area:main-6;
  background-color: #D9CC8C;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
.main-7 {
  grid-area:main-7;
  background-color: #D9CC8C;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
.main-8 {
  grid-area:main-8;
  background-color: #D9CC8C;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
.references {
  grid-area:references;
  background-color: #D9CC8C;
  text-align: center;
}

/*Used to style the form input on the contact page*/
/*Sets the background color, font colour, font style as well as adding padding to make the form button larger */
input {
  background-color:#5A2E2E;
  color:white;
  font-family: 'Poppins', sans-serif;
  padding: 1.5em;
} 