* {
  list-style:none; 
  text-decoration: none;
}
  
nav a {
    grid-area:nav;
    color:white;
    font-family: 'Roboto Slab', serif;
  }
  
aside {
   grid-area:aside;
   background-color: #D9CC8C;
   font-family: 'Poppins', sans-serif;
   text-align: center;
  }
.aside-2 {
    grid-area:aside-2;
    background-color: #D9CC8C;
    font-family: 'Poppins', sans-serif;
    text-align: center;
   }

.aside-3 {
    grid-area:aside-3;
    background-color: #D9CC8C;
    font-family: 'Poppins', sans-serif;
    text-align: center;
   }

.aside-4 {
    grid-area:aside-4;
    background-color: #D9CC8C;
    font-family: 'Poppins', sans-serif;
    text-align: center;
   }

main {
    grid-area:main;
    background-color: #D9CC8C;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.main-2 {
  grid-area:main-2;
  background-color: #D9CC8C;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.main-3 {
  grid-area:main-3;
  background-color: #D9CC8C;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.main-4 {
  grid-area:main-4;
  background-color: #D9CC8C;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
input {
  background-color:#5A2E2E;
  color:white;
  font-family: 'Poppins', sans-serif;
  padding: 1.5em;
}