body {
    display: grid;
    grid-template-columns:"40% 60%";
    grid-template-rows: "25% 30% 40%"; 
    grid-template-areas: "nav nav"
                         "aside header" 
                         "aside main";
}

nav {
    width: 100vw;
}

aside {
    width: 40vw;
}

header{
    width:60%vw;
}

main{
    width:60%vw;
}

.mobile_top{
    display:none;
}