/*Grid that is used for all the desktop design*/
/*Margin is used to correct display as Chrome auto added a margin when grid was implemented */
/* Grid Guidance sourced from Ben Frain (2020)*/
body {
    display: grid;
    grid-template-columns:auto;
    grid-template-rows: auto; 
    grid-template-areas: "mobile_top mobile_top"
                         "aside main" 
                         "aside-2 main-2"
                         "aside-3 main-3"
                         "aside-4 main-4";;
    margin: -0.5em 0 0 0;
}
/*Asigns a colour and a height, height is needed otherwise doesnt draw onto the grid*/
.mobile_top {
    grid-area:mobile_top;
    background-color:#5A2E2E;
    height:25vh; 
}
/*Not used on the mobile version of the site */
.top-footer {
    display:none;
}
/*Hidden when the site first loads, displays on a toggle*/
nav{
    display:none;
}
/*Opens the navigation menu over the top of site,
sets background colour, centres and adds centres the text to the middle of the screen to make it easier to click*/
/*nav:target sourced from Tom Butler (2020)*/
nav:target {
    display: block;
    position: fixed;
    background-color: #5A2E2E;
    text-align: center;
    padding-top: 3.5em;
    font-size: 2.5em;
    top: 0;
    width: 100%;
    height: 100%;
}
/*Draws bottom line in the burger menu*/
/*shownav sourced from Tom Butler (2020)*/
.shownav {
    height: 1em;
    width: 5em;
    top: 10px;
    left: 8px;
    display: block;
    position: absolute;
    border-top: 0.5em solid white;
    border-bottom: 0.5em solid white;
}
/*Draws the top and bottom lines of the burger */
/*:before sourced from Tom Butler (2020)*/
.shownav:before {
    content:'';
    position: absolute;
    width: 5em;
    top: 2.5em;
    border-top: 0.5em solid white;
    display:block;
}
/*All pictures that are used on the website,
Clip-path turns all the rectangle photos into circles
Sizes asigned in terms of pixels */
/*clip-path circle sourced from Ben Frain (2020)*/
.profile-picture {
    clip-path:circle(50%);
    margin-top: 4em;
    width:150px;
    height:150px;
    margin-left: 2em;
    margin-right: 1em;
    margin-bottom: 15.5em; /*Used to extend page size to the bottom of the screen, 
                            will need to be changed or deleted if adding content */
}
.linkedIn-picture {
    clip-path:circle(50%);
    margin-top: 4em;
    width:150px;
    height:150px;
    margin-left: 2em;
    margin-right: 1em;
}
.email-picture {
    clip-path:circle(50%);
    margin-top: 4em;
    width:150px;
    height:150px;
    margin-left: 2em;
    margin-right: 1em;
    margin-bottom: 2em; /*Used to extend page size to the bottom of the screen, 
                        will need to be changed or deleted if adding content */
}
.retail-picture {
    clip-path:circle(50%);
    margin-top: 4em;
    width:150px;
    height:150px;
    margin-left: 2em;
    margin-right: 1em;
}
.scouts-picture {
    clip-path:circle(50%);
    margin-top: 4em;
    width:150px;
    height:150px;
    margin-left: 2em;
    margin-right: 1em;
}
.qualification-picture{
    clip-path:circle(50%);
    margin-top: 4em;
    width:150px;
    height:150px;
    margin-left: 2em;
    margin-right: 1em;
}
.retail-picture {
    clip-path:circle(50%);
    margin-top: 4em;
    width:150px;
    height:150px;
    margin-left: 2em;
    margin-right: 1em;
}
.laptop-picture {
    clip-path:circle(50%);
    margin-top: 4em;
    width:150px;
    height:150px;
    margin-left: 2em;
    margin-right: 1em;
}
.siteReport1 {
    clip-path:circle(50%);
    width:150px;
    height:150px;
    margin-top: 1em;
}

.siteReport2 {
    clip-path:circle(50%);
    width:150px;
    height:150px;
    margin-bottom:6em;
}
