body {
    display: grid;
    grid-template-columns:auto;
    grid-template-rows: "30% 17% 17% 17% 17%"; 
    grid-template-areas: "mobile_top mobile_top"
                         "aside main" 
                         "aside-2 main-2"
                         "aside-3 main-3"
                         "aside-4 main-4";;
    margin: -0.5em 0 0 0;
}

.mobile_top {
    grid-area: mobile_top;
    background-color:#5A2E2E;
    height:25vh; 
}

header{
    grid-area: header;
}

.top-footer {
    display:none;
}
aside{
    grid-area: aside;
}

main{
    grid-area: main;
}

.profile-picture {
    clip-path:circle(50%);
    margin-top: 4em;
    width:150px;
    height:150px;
    margin-bottom: 15.5em;
}
.linkedIn-picture {
    clip-path:circle(50%);
    margin-top: 4em;
    width:150px;
    height:150px;
}
.email-picture {
    clip-path:circle(50%);
    margin-top: 4em;
    width:150px;
    height:150px;
    margin-bottom: 2em;
}
.retail-picture {
    clip-path:circle(50%);
    margin-top: 4em;
    width:150px;
    height:150px;
}
.scouts-picture {
    clip-path:circle(50%);
    margin-top: 4em;
    width:150px;
    height:150px;
}
.qualification-picture{
    clip-path:circle(50%);
    margin-top: 4em;
    width:150px;
    height:150px;
}
.retail-picture {
    clip-path:circle(50%);
    margin-top: 4em;
    width:150px;
    height:150px;
}
.laptop-picture {
    clip-path:circle(50%);
    margin-top: 4em;
    width:150px;
    height:150px;
}
nav{
    display:none;
}
nav:target {
    display: block;
    position: fixed;
    background-color: #5A2E2E;
    text-align: center;
    padding-top: 5em;
    padding-bottom:5em;
    font-size: 2em;
    top: 0;
    width: 100%;
    height: 100%;
}
.shownav {
    height: 1em;
    width: 5em;
    top: 10px;
    left: 8px;
    display: block;
    position: absolute;
    border-top: 0.5em solid white;
    border-bottom: 0.5em solid white;
}
.shownav:before {
    content:'';
    position: absolute;
    width: 5em;
    top: 2.5em;
    border-top: 0.5em solid white;
    display:block;
}